Django==6.0.6
django-cors-headers==4.9.0
djangorestframework==3.17.1
djangorestframework-simplejwt==5.5.1
PyJWT==2.13.0
sqlparse==0.5.5
tzdata==2026.2
tzlocal==5.4.4
APScheduler==3.11.3
asgiref==3.11.1
reportlab==5.0.0
Pillow==12.3.0
requests>=2.31.0
gunicorn>=21.2.0
